.signup-page.skeleton-page {
  .login-image-placeholder {
    flex: 1;
    background: #f0f2f5;
    @media (max-width: 900px) {
      display: none;
    }
  }

  .form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #signupform {
    width: 100%;
    max-width: 360px;
  }
}